<div id="content">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3>Bienvenido al estacionamiento</h3>
            </div>
        </div>
    </nav>
    <app-vehiculos-tabla></app-vehiculos-tabla>
    <footer class="container-fluid">
        <table>
            <tr>
                <td>Valor hora carro: 1000</td>
                <td>Valor día carro: 8000</td>
            </tr>
            <tr>
                <td>Valor hora moto: 500</td>
                <td>Valor día moto: 4000</td>
            </tr>
        </table>
    </footer>
</div>