<div id="content" class="col-lg-12 col-lg-offset-1">
    
    <header id="header" class="col-lg-12">
        <h1>
            {{title}}
        </h1>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Vehículos</a></li>
            <li><a href="#">Crear vehículo</a></li>
        </ul>
    </nav>
    <section id="main" class="col-lg-12">
        <h3>Texto</h3>
    </section>
    <footer class="col-lg-12">
        <p>Testing</p>
    </footer>
</div>